# Data Preparation - Part 3

#### Python Imports

In [16]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

#### Load and display the Imputed Ames Iowa Housing Prices Data Set

In [17]:
# It is very important to set the flag keep_default_na to False. Else, the string with 'NA' will be interpreted as NaN
url = './data/ames-imputed.csv'
home_price_df = pd.read_csv(url, keep_default_na=False)
home_price_df

,MS.Zoning,Street,Lot.Shape,Land.Contour,Utilities,Lot.Config,Land.Slope,Neighborhood,Condition.1,Condition.2,...,Garage.Yr.Blt,Garage.Finish,Garage.Cars,Garage.Area,Garage.Qual,Garage.Cond,Paved.Drive,Sale.Type,Sale.Condition,SalePrice
0,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,...,1960.0,Fin,2.0,528.0,TA,TA,P,WD,Normal,215000
1,RH,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,...,1961.0,Unf,1.0,730.0,TA,TA,Y,WD,Normal,105000
2,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,...,1958.0,Unf,1.0,312.0,TA,TA,Y,WD,Normal,172000
3,RL,Pave,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,...,1968.0,Fin,2.0,522.0,TA,TA,Y,WD,Normal,244000
4,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,...,1997.0,Fin,2.0,482.0,TA,TA,Y,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,RL,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,Norm,...,1984.0,Unf,2.0,588.0,TA,TA,Y,WD,Normal,142500
2923,RL,Pave,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,Norm,...,1983.0,Unf,2.0,484.0,TA,TA,Y,WD,Normal,131000
2924,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,Norm,...,0.0,NA,0.0,0.0,NA,NA,Y,WD,Normal,132000
2925,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,Norm,...,1975.0,RFn,2.0,418.0,TA,TA,Y,WD,Normal,170000
2926,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,Norm,...,1993.0,Fin,3.0,650.0,TA,TA,Y,WD,Normal,188000

#### Ensure there are no more missing values

In [18]:
home_price_df.isnull().sum()

MS.Zoning         0
Street            0
Lot.Shape         0
Land.Contour      0
Utilities         0
Lot.Config        0
Land.Slope        0
Neighborhood      0
Condition.1       0
Condition.2       0
Bldg.Type         0
House.Style       0
Overall.Qual      0
Year.Built        0
Year.Remod.Add    0
Roof.Style        0
Roof.Matl         0
Exterior.1st      0
Exterior.2nd      0
Mas.Vnr.Type      0
Mas.Vnr.Area      0
Exter.Qual        0
Exter.Cond        0
Foundation        0
Bsmt.Qual         0
Bsmt.Cond         0
Bsmt.Exposure     0
BsmtFin.Type.1    0
BsmtFin.Type.2    0
Total.Bsmt.SF     0
Heating           0
Heating.QC        0
Central.Air       0
Electrical        0
X1st.Flr.SF       0
Full.Bath         0
Kitchen.Qual      0
TotRms.AbvGrd     0
Functional        0
Fireplace.Qu      0
Garage.Type       0
Garage.Yr.Blt     0
Garage.Finish     0
Garage.Cars       0
Garage.Area       0
Garage.Qual       0
Garage.Cond       0
Paved.Drive       0
Sale.Type         0
Sale.Condition    0
SalePrice         0
dtype: int64

#### Identify and display the names of categorical features

In [19]:
cat_features = sorted(home_price_df.select_dtypes(include=['object']).columns.tolist())
cat_features

['Bldg.Type',
 'Bsmt.Cond',
 'Bsmt.Exposure',
 'Bsmt.Qual',
 'BsmtFin.Type.1',
 'BsmtFin.Type.2',
 'Central.Air',
 'Condition.1',
 'Condition.2',
 'Electrical',
 'Exter.Cond',
 'Exter.Qual',
 'Exterior.1st',
 'Exterior.2nd',
 'Fireplace.Qu',
 'Foundation',
 'Functional',
 'Garage.Cond',
 'Garage.Finish',
 'Garage.Qual',
 'Garage.Type',
 'Heating',
 'Heating.QC',
 'House.Style',
 'Kitchen.Qual',
 'Land.Contour',
 'Land.Slope',
 'Lot.Config',
 'Lot.Shape',
 'MS.Zoning',
 'Mas.Vnr.Type',
 'Neighborhood',
 'Paved.Drive',
 'Roof.Matl',
 'Roof.Style',
 'Sale.Condition',
 'Sale.Type',
 'Street',
 'Utilities']

#### Using the data dictionary, create a dictionary of the ordinal features with a dictionary that maps the labels to the numerical values

In [20]:
ord_features_dict = {'Bsmt.Cond': {'NA': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Bsmt.Exposure': {'NA': 0, 'No': 1, 'Mn': 2, 'Av': 3, 'Gd': 4},
                     'BsmtFin.Type.1': {'NA': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4 , 'ALQ': 5, 'GLQ': 6},
                     'BsmtFin.Type.2': {'NA': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4 , 'ALQ': 5, 'GLQ': 6},
                     'Bsmt.Qual': {'NA': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Electrical': {'SBrkr': 1, 'FuseA': 2, 'FuseF': 3, 'FuseP': 4, 'Mix': 5},
                     'Exter.Cond': {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Exter.Qual': {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Fireplace.Qu': {'NA': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Functional': {'Sal': 0, 'Sev': 1, 'Maj2': 2, 'Maj1': 3, 'Mod': 4, 'Min2': 5, 'Min1': 6, 'Typ': 7},
                     'Garage.Cond': {'NA': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Garage.Finish': {'NA': 0, 'Unf': 1, 'RFn': 2, 'Fin': 3},
                     'Garage.Qual': {'NA': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Heating.QC': {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4 , 'Ex': 5},
                     'Land.Slope': {'Gtl': 1, 'Mod': 2, 'Sev': 3},
                     'Lot.Shape': {'Reg': 1, 'IR1': 2, 'IR2': 3, 'IR3': 4},
                     'Paved.Drive': {'Y': 1, 'P': 2, 'N': 3},
                     'Utilities': {'AllPub': 1, 'NoSewr': 2, 'NoSeWa': 3, 'ELO': 4}}

#### Replace the ordinal feature labels with their numerical equivalent in the data set

In [21]:
home_price_df2 = home_price_df.copy()
for key, val in ord_features_dict.items():
    home_price_df2[key] = home_price_df2[key].map(val)
home_price_df2

,MS.Zoning,Street,Lot.Shape,Land.Contour,Utilities,Lot.Config,Land.Slope,Neighborhood,Condition.1,Condition.2,...,Garage.Yr.Blt,Garage.Finish,Garage.Cars,Garage.Area,Garage.Qual,Garage.Cond,Paved.Drive,Sale.Type,Sale.Condition,SalePrice
0,RL,Pave,2,Lvl,1,Corner,1,NAmes,Norm,Norm,...,1960.0,3,2.0,528.0,3,3,2,WD,Normal,215000
1,RH,Pave,1,Lvl,1,Inside,1,NAmes,Feedr,Norm,...,1961.0,1,1.0,730.0,3,3,1,WD,Normal,105000
2,RL,Pave,2,Lvl,1,Corner,1,NAmes,Norm,Norm,...,1958.0,1,1.0,312.0,3,3,1,WD,Normal,172000
3,RL,Pave,1,Lvl,1,Corner,1,NAmes,Norm,Norm,...,1968.0,3,2.0,522.0,3,3,1,WD,Normal,244000
4,RL,Pave,2,Lvl,1,Inside,1,Gilbert,Norm,Norm,...,1997.0,3,2.0,482.0,3,3,1,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,RL,Pave,2,Lvl,1,CulDSac,1,Mitchel,Norm,Norm,...,1984.0,1,2.0,588.0,3,3,1,WD,Normal,142500
2923,RL,Pave,2,Low,1,Inside,2,Mitchel,Norm,Norm,...,1983.0,1,2.0,484.0,3,3,1,WD,Normal,131000
2924,RL,Pave,1,Lvl,1,Inside,1,Mitchel,Norm,Norm,...,0.0,0,0.0,0.0,0,0,1,WD,Normal,132000
2925,RL,Pave,1,Lvl,1,Inside,2,Mitchel,Norm,Norm,...,1975.0,2,2.0,418.0,3,3,1,WD,Normal,170000
2926,RL,Pave,1,Lvl,1,Inside,2,Mitchel,Norm,Norm,...,1993.0,3,3.0,650.0,3,3,1,WD,Normal,188000

#### Identify and display the nominal features

In [22]:
nom_features = [feat for feat in cat_features if feat not in ord_features_dict.keys()]
nom_features

['Bldg.Type',
 'Central.Air',
 'Condition.1',
 'Condition.2',
 'Exterior.1st',
 'Exterior.2nd',
 'Foundation',
 'Garage.Type',
 'Heating',
 'House.Style',
 'Kitchen.Qual',
 'Land.Contour',
 'Lot.Config',
 'MS.Zoning',
 'Mas.Vnr.Type',
 'Neighborhood',
 'Roof.Matl',
 'Roof.Style',
 'Sale.Condition',
 'Sale.Type',
 'Street']

#### Create dummy binary variables for each of the nominal features

The option `drop_first` allows us to create $k - 1$ dummy binary variables

In [23]:
nom_encoded_df = pd.get_dummies(home_price_df[nom_features], prefix_sep='.', drop_first=True, sparse=False)
nom_encoded_df

,Bldg.Type.2fmCon,Bldg.Type.Duplex,Bldg.Type.Twnhs,Bldg.Type.TwnhsE,Central.Air.Y,Condition.1.Feedr,Condition.1.Norm,Condition.1.PosA,Condition.1.PosN,Condition.1.RRAe,...,Sale.Type.CWD,Sale.Type.Con,Sale.Type.ConLD,Sale.Type.ConLI,Sale.Type.ConLw,Sale.Type.New,Sale.Type.Oth,Sale.Type.VWD,Sale.Type.WD,Street.Pave
0,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2923,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2924,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2925,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2926,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1

#### Drop the nominal features from the data set

In [24]:
nom_dropped_df = home_price_df2.drop(home_price_df2[nom_features], axis=1)
nom_dropped_df

,Lot.Shape,Utilities,Land.Slope,Overall.Qual,Year.Built,Year.Remod.Add,Mas.Vnr.Area,Exter.Qual,Exter.Cond,Bsmt.Qual,...,Functional,Fireplace.Qu,Garage.Yr.Blt,Garage.Finish,Garage.Cars,Garage.Area,Garage.Qual,Garage.Cond,Paved.Drive,SalePrice
0,2,1,1,6,1960,1960,112.0,3,3,3,...,7,4,1960.0,3,2.0,528.0,3,3,2,215000
1,1,1,1,5,1961,1961,0.0,3,3,3,...,7,0,1961.0,1,1.0,730.0,3,3,1,105000
2,2,1,1,6,1958,1958,108.0,3,3,3,...,7,0,1958.0,1,1.0,312.0,3,3,1,172000
3,1,1,1,7,1968,1968,0.0,4,3,3,...,7,3,1968.0,3,2.0,522.0,3,3,1,244000
4,2,1,1,5,1997,1998,0.0,3,3,4,...,7,3,1997.0,3,2.0,482.0,3,3,1,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,2,1,1,6,1984,1984,0.0,3,3,3,...,7,0,1984.0,1,2.0,588.0,3,3,1,142500
2923,2,1,2,5,1983,1983,0.0,3,3,4,...,7,0,1983.0,1,2.0,484.0,3,3,1,131000
2924,1,1,1,5,1992,1992,0.0,3,3,4,...,7,0,0.0,0,0.0,0.0,0,0,1,132000
2925,1,1,2,5,1974,1975,0.0,3,3,4,...,7,3,1975.0,2,2.0,418.0,3,3,1,170000
2926,1,1,2,7,1993,1994,94.0,3,3,4,...,7,3,1993.0,3,3.0,650.0,3,3,1,188000

#### Create a new data set with the dummy binary variables

In [25]:
home_price_df3 = pd.concat([nom_dropped_df, nom_encoded_df], axis=1)
home_price_df3

,Lot.Shape,Utilities,Land.Slope,Overall.Qual,Year.Built,Year.Remod.Add,Mas.Vnr.Area,Exter.Qual,Exter.Cond,Bsmt.Qual,...,Sale.Type.CWD,Sale.Type.Con,Sale.Type.ConLD,Sale.Type.ConLI,Sale.Type.ConLw,Sale.Type.New,Sale.Type.Oth,Sale.Type.VWD,Sale.Type.WD,Street.Pave
0,2,1,1,6,1960,1960,112.0,3,3,3,...,0,0,0,0,0,0,0,0,1,1
1,1,1,1,5,1961,1961,0.0,3,3,3,...,0,0,0,0,0,0,0,0,1,1
2,2,1,1,6,1958,1958,108.0,3,3,3,...,0,0,0,0,0,0,0,0,1,1
3,1,1,1,7,1968,1968,0.0,4,3,3,...,0,0,0,0,0,0,0,0,1,1
4,2,1,1,5,1997,1998,0.0,3,3,4,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,2,1,1,6,1984,1984,0.0,3,3,3,...,0,0,0,0,0,0,0,0,1,1
2923,2,1,2,5,1983,1983,0.0,3,3,4,...,0,0,0,0,0,0,0,0,1,1
2924,1,1,1,5,1992,1992,0.0,3,3,4,...,0,0,0,0,0,0,0,0,1,1
2925,1,1,2,5,1974,1975,0.0,3,3,4,...,0,0,0,0,0,0,0,0,1,1
2926,1,1,2,7,1993,1994,94.0,3,3,4,...,0,0,0,0,0,0,0,0,1,1

#### Display the shape (rows, columns) of the transformed and merged data set

In [26]:
home_price_df3.shape

(2927, 179)

#### Scale the feature values using the standard scaler

In [27]:
scaler = StandardScaler()
home_price_df3_f = pd.DataFrame(scaler.fit_transform(home_price_df3), columns=home_price_df3.columns, index=home_price_df3.index)

#### Identify and display only those features that have a strong correlation to the target feature (SalePrice)

In [28]:
sale_price = home_price_df3_f.corr()['SalePrice']
sale_price[(sale_price >= 0.5) | (sale_price <= -0.5)]

Overall.Qual        0.799182
Year.Built          0.558529
Year.Remod.Add      0.532973
Mas.Vnr.Area        0.502081
Exter.Qual          0.697926
Bsmt.Qual           0.607756
Total.Bsmt.SF       0.632425
X1st.Flr.SF         0.621638
Full.Bath           0.545682
Fireplace.Qu        0.533719
Garage.Finish       0.550335
Garage.Cars         0.647761
Garage.Area         0.640272
SalePrice           1.000000
Foundation.PConc    0.521850
Kitchen.Qual.TA    -0.526918
Name: SalePrice, dtype: float64

#### Save the cleansed and encoded data set to a csv file

In [29]:
home_price_df3.to_csv('./data/ames-imputed-encoded.csv', index=False)